/**
 * @name Wildberry
 * @version 1.0.0
 * @description Inspired by a Pop Tart flavour enjoy a berry inspired color storm for discord
 * @author Daggy1234
 * @source https://github.com/DagCord/Wildberry
*/

@import url('https://dagcord.github.io/Wildberry/wildberry.css');




:root {
  /* Background image variables */
  --background-image: url('https://imgur.com/Fmoe36e.png'); /* Main background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-image-blur: 5px; /* Blur intensity of --background-image | Must end in px | DEFAULT: 5px */
  --background-image-size: cover; /* Size of the background image | DEFAUT: cover | OPTIONS: cover, contain */
  --background-image-position: center; /* Position of background image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */
